<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>HOME</h1>
    <h3>URL Shortener</h3>
    <% if (locals.id) { %>
        <p>URL Generated: http://localhost:3001/url/<%= id %></p>
        <% } %>
    <div>
        <form method="POST" action="/url">
            <label>
                Enter your original URL:
            </label>
            <input type="text" name="url" placeholder="https://example.com">
            <button type="submit" placeholder="generate">GENERATE</button>
        </form>
    </div>
</body>
</html>